<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Footer Content</h5>
                <p>Welcome to my science project, here you will find means to contact the creator of the site.</p>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Platform</h5>

                <ul class="list-unstyled">
                    <li>
                        Name
                    </li>
                    <li>
                        Mail
                    </li>
                    <li>
                        Number
                    </li>
                    <li>
                        Twitter
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <!-- Links -->
                <h5 class="text-uppercase">Contact</h5>

                <ul class="list-unstyled">
                    <li>
                        Caspian Mörling
                    </li>
                    <li>
                        caspian.morling@gmail.com
                    </li>
                    <li>
                        +46 72 500 76 80
                    </li>
                    <li>
                        @C_morling
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        Last Updated: 2020-03-17
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->