<nav class="navbar navbar-expand-md navbar-dark header-nav">
    <div class="container ">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav main-menu m-1">
              <li class="nav-item nav-text">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item nav-text">
                  <a class="nav-link" href="/sources">Sources</a>
                </li>
            </ul>
          </div>
    </div>
</nav>